<div class="card bg-info">
<h1 class="title"><%= t('page.listing', model: t('activerecord.models.user_import_result')) -%></h1>
<div class="card-body bg-light">
  <% if @user_import_file %>
    <%= render 'list_lines' %>
  <% else %>
    <%= render 'list' %>
  <% end %>
  <%= paginate(@user_import_results) %>
</div>
</div>

<div class="col-3">
</div>
