<div class="row">
  <div class="col-md-9">
    <h1 class="title"><%= t('page.new', model: t('activerecord.models.shelf')) -%></h1>
    <%= render 'form' %>
  </div>

  <div class="col">
    <div class="card card-body">
      <ul>
        <li>
          <%- if @shelf.library -%>
            <%= link_to t('page.back'), shelves_path(library_id: @shelf.library_id) -%>
          <%- else -%>
            <%= link_to t('page.back'), shelves_path -%>
          <%- end -%>
        </li>
      </ul>
    </div>
  </div>
</div>
