= render 'page/required_field'
= simple_form_for(@library) do |f|
  = f.error_messages
  .form-group
    = f.label :name
    br
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :short_display_name
    br
    = f.text_area :short_display_name, class: 'form-control'
  .form-group
    = f.label :display_name
    br
    = f.text_area :display_name, class: 'form-control'
  - unless @library.web?
    .form-group
      = f.label :isil
      br
      = f.text_field :isil, class: 'form-control'
    .form-group
      = f.label t('activerecord.models.country')
      br
      = f.select(:country_id, @countries.collect{|c| [c.display_name.localize, c.id]}, {}, class: 'form-control')
    .form-group
      = f.label :zip_code
      br
      = f.text_field :zip_code, class: 'form-control'
    .form-group
      = f.label :region
      br
      = f.text_area :region, class: 'form-control'
    .form-group
      = f.label :locality
      br
      = f.text_area :locality, class: 'form-control'
    .form-group
      = f.label :street
      br
      = f.text_area :street, class: 'form-control'
    .form-group
      = f.label :telephone_number_1
      br
      = f.phone_field :telephone_number_1, class: 'form-control'
    .form-group
      = f.label :telephone_number_2
      br
      = f.phone_field :telephone_number_2, class: 'form-control'
    .form-group
      = f.label :fax_number
      br
      = f.phone_field :fax_number, class: 'form-control'
    .form-group
      = f.label :call_number_rows
      br
      = f.number_field :call_number_rows, class: 'form-control'
    .form-group
      = f.label :call_number_delimiter
      br
      = f.text_field :call_number_delimiter, class: 'form-control'
    .form-group
      = f.label :opening_hour
      br
      = f.text_area :opening_hour, class: 'form-control'
    .form-group
      = f.label :note
      br
      = f.text_area :note, class: 'form-control'
  .form-group
    = f.submit class: 'btn btn-default'
