<div class="card bg-info">
<h1 class="title"><%= t('page.editing', model: t('activerecord.models.library')) -%></h1>
<div class="card-body bg-light">
  <%= render 'form' %>
</div>
</div>

<div class="col-3">
  <ul>
    <li><%= link_to t('page.show'), library_path(@library) -%></li>
    <li><%= link_to t('page.back'), libraries_path -%></li>
  </ul>
</div>
