<div class="row">
  <div class="col-md-9">
    <h1 class="title"><%= t('page.editing', model: t('activerecord.models.library')) -%></h1>
    <%= render 'form' %>
  </div>

  <div class="col">
    <div class="card card-body">
      <ul>
        <li><%= link_to t('page.show'), library_path(@library) -%></li>
        <li><%= link_to t('page.back'), libraries_path -%></li>
      </ul>
    </div>
  </div>
</div>
