= form_for(@bookstore) do |f|
  = f.error_messages
  .form-group
    = f.label :name
    br
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :zip_code
    br
    = f.text_field :zip_code, class: 'form-control'
  .form-group
    = f.label :address
    br
    = f.text_area :address, class: 'form-control'
  .form-group
    = f.label :telephone_number
    br
    = f.phone_field :telephone_number, class: 'form-control'
  .form-group
    = f.label :fax_number
    br
    = f.phone_field :fax_number, class: 'form-control'
  .form-group
    = f.label :url
    br
    = f.url_field :url, class: 'form-control'
  .form-group
    = f.label :note
    br
    = f.text_area :note, class: 'form-control'
  .form-control
    = f.submit class: 'btn btn-default'
