= simple_form_for(@library_group) do |f|
  = f.error_messages
  .form-group
    = f.label :name
    br
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :display_name
    br
    = f.text_area :display_name, class: 'form-control'
  .form-group
    = f.label :email
    br
    = link_to t('page.edit'), edit_profile_path(@library_group.user.profile)
  .form-group
    = f.label :url
    br
    = f.url_field :url, class: 'form-control'
  .form-group
    = f.label :login_banner
    br
    = f.text_area :login_banner, class: 'form-control'
  .form-group
    = f.label :footer_banner
    br
    = f.text_area :footer_banner, class: 'form-control'
  .form-group
    = f.label :max_number_of_results
    br
    = f.number_field :max_number_of_results, class: 'form-control'
  .form-group
    = f.label :book_jacket_source
    br
    = f.select :book_jacket_source, [['Google', 'google']], class: 'form-control'
  .form-group
    = f.label :pub_year_facet_range_interval
    br
    = f.number_field :pub_year_facet_range_interval, class: 'form-control'
  .form-group
    = f.label t('activerecord.models.country')
    br
    = f.select(:country_id, @countries.collect{|c| [c.display_name.localize, c.id]})
  - if defined?(EnjuBookmark)
    .form-group
      = f.label :allow_bookmark_external_url
      = f.check_box :allow_bookmark_external_url
  .form-group
    = f.label :my_networks
    br
    = f.text_area :my_networks, class: 'form-control'
  .form-group
    = f.label :admin_networks
    br
    = f.text_area :admin_networks, class: 'form-control'
  .form-group
    = f.label :html_snippet
    br
    = f.text_area :html_snippet, class: 'form-control'
  .form-group
    = f.label :note
    br
    = f.text_area :note, class: 'form-control'
  .form-group
    = f.submit class: 'btn btn-default'
